[submodule "IsoAgLib"]
	path = IsoAgLib
	url = https://github.com/OSB-AG/IsoAgLib.git
[submodule "IsoAgLib-tutorial-private"]
	path = IsoAgLib-tutorial-private
	url = https://github.com/ISOMAX/IsoAgLib-tutorial-private.git
